#background {
    background-image: url("./BG.jpg");
    background-position: center center;
    background-size: auto auto;
    background-attachment: scroll;
    background-repeat: repeat-y;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.nav {
    position: relative;
    display: flex;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-around;
}

/* Style the links inside the navigation bar */

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;  
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */

.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */


.nav a.active {
    background-color: #123fd3;
    color: white;
}



.footnav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px ) {
    .nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
}