#background {
    background-image: url("./BG.jpg");
    background-position: center center;
    background-size: auto auto;
    background-attachment: scroll;
    background-repeat: repeat-y;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.topnav {
    /* position: relative; */
    display: flex;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-around;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: #123fd3;
    color: white;
}

.column.left {
    float: left;
    width: 48%;
}

.column.right {
    float: right;
    width: 48%;
}

.centered{
    text-align: center;
}

div.cakepic {
    margin: 5px;
    /* border: 1px solid #ccc; */
    float: left;
    width: 180px;
    height: 300px;
    text-align: center;
    
  }

img {
    width: 150px;
    border-radius: 50%;   
}




/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footnav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 550px) {
    .column.left, .column.right {
        width: 100%;
    }
}