#background {
    background-image: url("../images/BGnew.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: repeat-y;
    background-blend-mode: lighten;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.nav {
    position: relative;
    display: flex;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-around;
}

/* Style the links inside the navigation bar */

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */

.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

.nav a.active {
    background-color: rgb(128, 0, 38);
    color: white;
}

#main-body {
    min-height: 70vh;
}

.footnav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 1em ;
    bottom: 1em;
}

@media only screen and (min-width: 750px) {
    .nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
}

.desc {
    display: block;
    text-align: center;
    padding-top: 1em;
}